#dataTableLancamentos {
  width: inherit !important;
}

#dataTableLancamentos tr.row_selected,
.selected {
  background-color: #b5ccd2;
  opacity: 0.95;
  font-weight: 500;
}

#dataTableLancamentoItens {
  width: inherit !important;
}

#dataTableLancamentoItens tr.row_selected,
.selected {
  background-color: #b5ccd2;
  opacity: 0.95;
  font-weight: 500;
}

.modal#modalLancamentos .modal-dialog {
  width: 85%;
  max-width: none;
}

#dataTableLancamentoAlunos_filter {
  display: none !important;
}

#dataTableLancamentoClientes_filter {
  display: none !important;
}

#formGroutMotherData {
  display: flex;
  margin-top: 32px;
}

#selectFormGroup {
  width: 190px;
}

.fontBold {
  font-weight: bold !important;
}