#dataTableAlunos {
  width: inherit !important;
}

#dataTableAlunos tr.row_selected,
.selected {
  background-color: #b5ccd2;
  opacity: 0.95;
  font-weight: 500;
}

.modal#modalAlunos .modal-dialog {
  width: 85%;
  max-width: none;
}
