#dropCompilado li {
  text-transform: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none !important;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu .dropdown-item {
  display: block !important;
}

.dropdown-item-icon {
  display: inline !important;
}

li.dropdown-item a.dropdown-item {
  padding: 0 !important;
}

#dataTableCFe {
  width: inherit !important;
}

#dataTableCFe tr.row_selected,
.selected {
  background-color: #b5ccd2;
  opacity: 0.95;
  font-weight: 500;
}

.redClass {
  background-color: #fbb8b8 !important;
}
